.wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: var(--bg-color);
}

.cmtItem {
	display: flex;
	flex-direction: row;
	gap: 20px;
	padding: 0.3rem;
	margin-top: 1rem;
}

.pfp {
	width: 3rem;
	height: 3rem;
	position: relative;
}

.actions {
	background-color: green;
	width: 5%;
	opacity: 0;
}

.comment:hover ~ .actions {
	opacity: 1;
}

.btns {
	flex-direction: row-reverse;
	gap: 1rem;
	padding: 1rem;
	display: none;
}

.btns > button {
	background-color: transparent;
	color: var(--fg-color);
	cursor: pointer;
}

.btns > button:disabled {
	cursor: default;
}

.input {
	outline: none;
	background-color: transparent;
	border-bottom: 2px solid var(--fg-color);
	color: var(--fg-color);
	padding-bottom: 0.5rem;
}

.input:focus ~ .btns,
.input:not(:placeholder-shown) ~ .btns {
	display: flex;
}

.comment {
	color: var(--fg-color);
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}

.info {
	font-weight: 600;
}

.stats {
	display: flex;
	flex-direction: row;
	gap: 0.25rem;
}

.interactBtn {
	width: 20px;
	aspect-ratio: 1 / 1;
	fill: var(--fg-color);
	cursor: pointer;
}
