.profileHead {
	height: 100%;
	aspect-ratio: 1 / 1;
	position: relative;
}

.pfp {
	height: 100%;
	width: 100%;
	border-radius: 50%;
	object-fit: contain;
}

.accountPopup {
	position: absolute;
	top: calc(100% + 4px);
	right: 10%;
	min-width: 250px;

	background-color: var(--bg-color-3);
	border-radius: 0.5rem;
	padding: 1rem;

	display: grid;
	grid-template-columns: 1fr minmax(0, 1fr);
	align-items: center;
	column-gap: 0.5rem;

	z-index: 10;
}

.avatar {
	grid-row: 1;
	grid-column: 1;
	position: relative;
	width: 100%;
	aspect-ratio: 1 / 1;
}

.details {
	grid-row: 1;
	grid-column: 2;
	overflow-wrap: break-word;

	display: flex;
	flex-direction: column;
	gap: 0.1rem;
}

.name {
	overflow-wrap: break-word;
	color: var(--fg-color-1);
	font-weight: bold;
}

.email {
	color: var(--fg-color-1);
	overflow-wrap: break-word;
}

.actions {
	grid-column-start: 1;
	grid-column-end: 3;
	margin-top: 1rem;
	padding-top: 1rem;
	border-top: 1px solid var(--bg-color-2);
	display: flex;
	justify-content: center;
	align-self: center;
}

.button {
	text-decoration: none;
	padding: 0.4rem;
	border-radius: 0.2rem;
	background-color: var(--fg-color);
	color: var(--bg-color);
}
