.header {
	display: flex;
	align-items: center;
	justify-items: center;

	height: 3rem;
	margin: 0.5rem;
}

.ham {
	fill: var(--fg-color);
	flex-shrink: 0;
	width: var(--sidebar-smol-size);
	aspect-ratio: 1 / 1;
	padding: 0.5rem;
	cursor: pointer;
	border-radius: 50%;
}

.ham:hover {
	background: #333a;
}

.logo {
	text-align: center;
	width: calc(var(--sidebar-big-size) - var(--sidebar-smol-size));
	padding: 0 0.5rem;
	text-decoration: none;
	color: var(--fg-color);
	font-weight: 600;
	cursor: pointer;
}

.signin {
	flex-shrink: 0;
	height: 80%;
	display: flex;
	align-items: center;
	gap: 0.3rem;
	border: 1px solid white;
	border-radius: 1.3rem;
	padding: 0.1rem 0.8rem;
	cursor: pointer;
	color: white;
	text-decoration: none;
}

.signin > svg {
	height: 80%;
	fill: white;
}

.signin:hover {
	background: #333a;
}

@media only screen and (max-width: 600px) {
	.signin > a {
		display: none;
	}
}
