.main {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.content {
	flex-grow: 1;
	overflow: scroll;
}

.homeAnimeContainer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-auto-rows: 300px;
	row-gap: 40px;
	column-gap: 20px;
}

.animePage {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: row;
}
