.main {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.header {
	height: 60px;
	padding: 10px 0;
	display: flex;
	flex-direction: row;
}

.ham {
	fill: var(--fg-color);
}

.logo {
	text-decoration: none;
	width: 10%;
	border-radius: 10px;
	background-color: red;
	color: var(--fg-color);
	font-weight: 600;
	margin: 0px 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.profile {
	width: 10%;
	background-color: blue;
}

.content {
	flex-grow: 1;
	overflow: scroll;
}

.homeAnimeContainer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-auto-rows: 300px;
	row-gap: 40px;
	column-gap: 20px;
}

.animePage {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: row;
}
