.searchContainer {
	height: 100%;
	flex-grow: 1;
	display: flex;
	justify-content: center;
}

.inputRow {
	position: relative;
	min-width: 75%;
	height: 100%;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.inputRow > input {
	height: 100%;
	padding: 4px;

	flex-grow: 1;

	border: 1px solid var(--border-color);
	border-right: none;
	border-left: var(--input-border-left);
	border-top-left-radius: var(--input-border-radius);
	border-bottom-left-radius: var(--input-border-radius);
	outline: none;

	background-color: var(--bg-color-2);
	color: var(--fg-color);
}

.textSearchBtn {
	height: 100%;
	width: 40px;
	padding: 0.5rem;

	flex-shrink: 0;

	border: 1px solid var(--border-color);
	border-right: none;
	border-top-left-radius: 1rem;
	border-bottom-left-radius: var(--bottom-radius);

	fill: var(--fg-color-2);
	background-color: var(--bg-color-2);
}

.textCrossBtn {
	height: 100%;
	width: 30px;

	flex-shrink: 0;
	cursor: pointer;

	fill: var(--fg-color-2);
	background-color: var(--bg-color-2);

	border-top: 1px solid var(--border-color);
	border-bottom: 1px solid var(--border-color);
}

.searchBtn {
	width: 55px;
	height: 100%;
	padding: 0.5rem;
	padding-left: 1rem;

	flex-shrink: 0;

	border: 1px solid var(--border-color);
	border-top-right-radius: 1rem;
	border-bottom-right-radius: var(--bottom-radius);

	cursor: pointer;

	fill: var(--fg-color-2);
	background-color: var(--bg-color-2);
}

.suggestionBox {
	position: absolute;
	z-index: 1;
	background-color: var(--bg-color);
	top: 100%;
	width: 100%;
	max-height: 70vh;
	overflow-y: scroll;
	overflow-x: hidden;
	border: 1px solid var(--border-color);

	flex-shrink: 0;

	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
}

.animeBox {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	cursor: pointer;

	width: 100%;
	height: 100%;

	flex-grow: 1;

	padding: 3px 0px;
}

.animeBox > .textSearchBtn {
	border: none;
	background-color: transparent;
}

.animeBox:focus,
.animeBox:hover {
	background-color: var(--bg-color-3);
}

.animeTitle {
	color: var(--fg-color-2);
	width: 80%;
	white-space: nowrap;
	flex-grow: 1;
}

